<div ng-app="twistthetides">
  <div class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-brand col-md-6">
        <h1>Twist the Tide Pools</h1>
        <!-- <h4 class="sm-hidden xs-hidden">Marine Ecology, Conservation, and Environmental Education</h4> -->
      </div>

      <ul class="nav navbar-nav navbar-right nav-tabs col-md-6 collapse navbar-collapse">
        <li class="navTabs">
          <a href>The Salty Blog</a>
        </li>
        <li class="navTabs">
          <a href>Research Notes</a>
        </li>
        <li class="navTabs">
          <a href>The Looking Glass</a>
        </li>
        <li class="navTabs">
          <a href>Philosophy</a>
        </li>
        <li class="navTabs">
          <a href>Links</a>
        </li>
        <li class="navTabs">
          <a href>Contact</a>
        </li>
      </ul>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
  <div class="container"> <!-- MAIN CONTENT -->
    <p class="BlogPost">
      Our lab loves to look at larvae. We’re naturalists, who by and large love to marvel in and celebrate the diversity of life, so it seems obvious that we would enjoy these just as well. It may be, though, that larvae lovers are a special breed (pun intended?). I’ve met hard-core birders, “herpers” (I’d known some of these self-described reptile-lovers before only recently hearing the term “herper”, from herpetoloist, of course, but with less of a ring than birder, I think), and even one chap who knew everything one could possibly know about decapods (that’s a group- the order Decapoda, actually- of crustaceans that includes lobsters, crabs, and shrimp). But larvae are different.

      Most people have seen grubs or inch worms or caterpillars at some time in their life, all of which are the larvae of insects (flies, moths, and butterflies, respectively). They’re the offspring of the adult fly, moth, butterfly, etc. But they are not like human offspring, or that of any other mammal, or birds, or praying mantis, or earwigs. The difference is one of life-cycle “strategies”. Mammals, birds, some insects, and many other organisms undergo “direct-development” or, in fancier looking terms, are hemimetabolis. This means that their offspring are nymphs, sort of just smaller juvenile versions of themselves. Yes, a lot changes during development, but a human baby is basically just a little version of a human adult. Especially compared to those organisms that undergo “indirect-development” or holometabolism (the ‘l’ in ‘holo’ recalls the ‘l’ in ‘larva’, for remembering).

      The caterpillar is probably the most well known larval form and many have seen or heard of the pupae as well, into which the caterpillar recedes to metamorphose into a butterfly that may nor may not be visually pleasing. This process, metamorphosis, is characteristic of holometabolous life cycles. All sorts of incredible physiological processes occur inside the pupae of the caterpillar. Not all metamorphosing critters have a pupae, persay, but they do all undergo a major change in body form and in the ways in which they interact with their environment.

      It’s easy to associate this type of life cycle with insects because we see them so frequently in both stages. By extension, it’s also easy to associate this life cycle with invertebrates. But it is worth noting that almost all fish, indeed back-boned vertebrates, have a larval stage. Amphibians (frogs! tadpoles!) also are holometabolous. These days, though, most of the larvae I see belong to marine invertebrates like crabs, bryozoans, urchins, oysters, and barnacles. They’re super small and sorting through samples of netted larvae can be slow and difficult. But the larval phase is extremely important to understand because it is during the larval phase that numerous critical ecological processes occur.
    </p>
  </div>
</div>

