
<div ng-app="twistthetides">
  <div class="container" ng-controller="BlogController as blog">
    <div class="col-md-6 col-md-offset-3 navbar">
      <p>Hello my name is {{"Angular" + "application" + "duh"}}</p>
      <h5 class="container-fluid well">OMG THIS IS SOMETHING THAT IS SOMETHING OR WAHTEVER BOOTSTRAPPP</h5>
    </div>
  </div>
</div>

